/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  --primary-color: #9982b185;
  --secondary-color: #8190ab;
  --background-color: #f4f4f6;
  --text-color: #2c3e50;
  --white: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: white;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
}
.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 15px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.user-actions {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn-signup {
  background-color: white;
  color: var(--primary-color);
}


.page-container {
  width: 90%;
  max-width: 1200px;
  background-color: #fdfcf9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* Categories Section */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.category {
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.category img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 10px;
}

.category p {
  font-size: 1.2rem;
  color: #60516f85;
  font-style: italic;
  font-weight: bold;
  
}